body {
    background-color: #F0E3BB;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
    width: 70%;
    height: 150px;
    background-image: url('img/logof1.png');
    background-repeat: no-repeat;
    background-position: center;
    font-style: italic;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: right;
}

header p {
    display: inline-block;
    margin-right: 10%;
    margin-top: 120px;
}

nav {
    width: 70%;
    background-color: #000000;
    margin: 0 auto;
    border-radius: 7px;
    text-align: center;
    margin-top: 5px;
    padding: 0.7em 0;
}

nav a {
    height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 2em;
    font-size: 1.5em;
    border-radius: 6px;
}

nav a:hover, nav a.selected {
    background-color: #FFFFFF; 
    color: #CF0000;
}

section {
    width: 70%;
    margin: 5px auto;
    border: 3px solid #000000;
    border-radius: 7px;
}

section h1 {
    text-align: center;
    text-decoration: underline;
}

section p {
    padding: 0.5em 1em;
}

section figure.intro_img, section img.intro_img {
    border: 1px solid #cccccc;
    padding: 3px 3px;
    margin-right: 1%;
    font-size: 0.7em;
}

.left {
    float: left;
}

.right {
    float: right;
}

section figure.intro_img figcaption {
    word-wrap: break-word;
    max-width: 178px;
}

aside div {
    width: 13.8%;
    position: fixed;
    top: 225px;
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    text-align: center;
}

aside div.race_info {
    right: 5px;
}

aside div.ad {
    left: 5px;
}

aside div h1 {
    font-size: 1em;
    border-bottom: 1px solid #000000;
}

aside div.race_info h2 {
    color: #CF0000;
    font-size: 1.1em;
}

aside div.race_info h3 {
    text-decoration: underline;
    font-size: 0.8em;
    margin: 0;
    margin-top: 7px;
}

aside div.race_info p, aside div.race_info span {
    font-size: 0.8em;
    margin: 0 0;
}

footer {
    width: 70%;
    margin: 5px auto;
    border-top: 3px solid #000000;
    text-align: center;
}

.big_letter {
    font-size: 2.5em;
}

section div.team {
    margin: 0 2%;
}

section div.team img {
    max-width: 20%;
}

section div.team h2 {
    text-decoration: underline;
}

section div.team div.team_info {
    width: 80%;
    float: right;
}

section div.team div.team_info ul {
    margin: 0;
}

.clear {
    clear: both;
}

form {
    padding: 10px;
}

fieldset {
    border: 2px solid #333028;
    margin-top: 15px;
}

legend {
    background-color: #333028;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 5px;
    color: #FFFFFF;
}

input[type=text], input[type=email], input[type=number], select, select option {
    background: #333028 none repeat scroll 0 0;
    border: 1px solid #886;
    color: #fff;
    padding: 8px;
    width: 250px;
}

input[type=submit] {
    color: #886;
    background: #333028;
    border: 1px solid #886;
    padding: 10px 20px;
    margin-right: 140px;
    font-size: 15px;
}

#tovar {
    border: 1px solid #886;
    margin: 5px;
    max-height: 450px;
    overflow: auto;
}

#tovar figure {
    text-align: center;
    border: 2px solid #cccccc;
    width: 200px;
    float: left;
    margin: 0.5em;
}

#tovar figure:hover {
    border: 2px solid #000000;
    background-color: #cccccc;
}

#tovar figure figcaption {
    font-size: 150%;
    font-weight: bold;
}
